body{
  display: block;
  margin: auto;
  margin-top:10px;
}

.square{
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0px;
  animation: fadeIn 1s;
}

#boardOuter{
  height: 450px;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#boardInner{
  border: solid 1px black;
  width: 400px;
  height: 400px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
}

#numberContainer{
 width: 450px;
 height: 50px;
  margin-left:50px;
}

#letterContainer{
  width: 50px;
  display: inline-block;
  height: 400px;
  margin-top:1px;
}

.label {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  width: 400px;
  height: 50px;
}
